* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 3px solid red; */
}

html {
    scroll-behavior: smooth;
}

.main {
    background-color: #0B2C3D;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1540px;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    padding: 15px 0px;
    justify-content: space-between;
}

.logo {}

.logo ul {
    display: flex;
    list-style-type: none;

}

.logo ul li {
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.logo ul li a {

    font-size: 18px;
    color: orangered;
}

.logo ul li b {
    margin: 0px 10px;
}

.logo ul li:hover {

    transition: 0.4s;
    color: orangered;
}

.logo ul li a i {
    margin-right: 5px;
}

.sm {
    display: flex;

}

.sm ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

.sm ul li {
    margin: 0px 10px;
}

.sm ul li a i {
    font-size: 18px;
    color: white;
}

.but {}

.button {
    background-color: orangered;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px;
    width: 150px;
    font-size: 15px;
}

.button:hover {
    background-color: darkred;
}

/*--------------------------------------------container1------------------------------------------------------*/

.cont {
    width: 100%;
    max-width: 1540px;
    margin: auto;
}

.main1 {
    /* position: sticky; */
    z-index: 9;
    top: 0px;
    background-color: white;
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
}

.logo1 {
    font-size: 35px;
}

.logo1:hover {
    cursor: pointer;
}

.logo1 i {
    font-size: 35px;
    color: orangered;
    margin-right: 5px;
}

.menu ul {
    display: flex;

}

.menu>ul>li {
    /* position: relative; */
    list-style-type: none;
    margin: 25px;
    font-size: 20px;
}

.menu>ul>li a i {
    font-size: 17px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu1:hover {
    color: orangered;
}

.menu1 ul li:hover {
    color: orangered
}

.menu11 {
    opacity: 0;
    background-color: white;
    transition: 0.5s;
    border-radius: 10px;
    border-top: 4px solid red;
    position: absolute;
    visibility: hidden;
    margin: 20px 0px;
    flex-direction: column;
    /* overflow: hidden; */
    list-style-type: none;
    width: 200px;
}

.menu11 li {
    padding: 20px;
}

.menu ul li :hover .menu11 {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}


.but1 {
    display: flex;
}

.button1 {
    margin: 0px 10px;
}

.button1 i {
    padding: 25px;
    background-color: white;
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
    border: none;
    font-size: 15px;
}

.button1 i:hover {
    cursor: pointer;
    background-color: orangered;
    color: white;
    transition: 0.4s;
}

.button11 {
    border: none;
}

/*--------------------------------------------------- container 2 -------------------------------------------------*/

.main2 {
    background-color: #d4d7d9;
    padding: 100px 0px;
}

.intro {
    display: grid;
    grid-template-columns: 50% 50%;
}

.intro i {
    font-size: 20px;
    color: orangered;
}
.intro1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.intro1 i {
    font-size: 20px;
    color: orangered;
}

.rea {
    font-size: 20px;
}

.tagline span {
    font-size: 50px;
    font-weight: 1000;
}

.tg {
    max-width: 500px;
    border-left: 1px solid black;
    padding: 10px;
}
.tg1{
    margin-left: 200px;
        border-right: 1px solid black;
        padding: 10px;
        text-align: end;

}

.enq {
    padding: 20px 0px;
}

/* .enquiry {
    padding: 25px 35px;
    font-size: 20px;
    background-color: orangered;
    color: white;
    border: none;
}

.enquiry:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    box-shadow: inset 250px 0 0 0 white;
    color: black;
    transition: 0.5s;
} */

.play {
    padding: 30px;
    margin: 5px 20px;
    border-radius: 100%;
    background-color: white;
}

.enq a i {
    font-size: 20px;
}

.grid2 {
    margin-left: 30%;
}
.grid21{
    margin-right: 30%;
}
.grid12111{
    text-align: end;
}
.lm{
    display: inline-block;
        text-decoration: none;
        color: black;
        padding: 20px;
        background-color: white;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border: none;
        font-size: 20px;
}
.lm:hover{
    transition: all 0.3s ease-in-out;
        color: white;
        cursor: pointer;
        background-color: black;
}
/* --------------------------------------------------container3 ----------------------------------------------*/

.main3 {
    background-color: #edeff0;
    padding: 100px 0px;
}


.about {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid11 {
    padding: 0px 10px;
}

.grid12 {
    padding: 35px 45px 35px 10px;

}

.about1 {
    background-color: rgb(249, 218, 207);
    color: rgb(255, 68, 0);
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
}

.hd1 {
    font-size: 40px;
    margin: 10px 0px;
}

.grid121 {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.g1 {
    font-size: 20px;
    margin: 5px 0px;
    align-items: center;
}

.g1 i {
    font-size: 30px;
    padding: 15px;
    margin: 5px 0px;
    border-radius: 100%;
    background-color: rgb(249, 218, 207);
    color: rgb(255, 68, 0);
}

.grid122 {
    border-left: 4px solid orangered;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(248, 234, 229);
    margin: 25px 0px;
}

.grid123 {
    margin-top: 40px;
}


/*---------------------------------------------- .container4 ---------------------------------------------*/

.main4 {
    background-color: #d4d7d9;
    padding: 120px 0px;
}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.row {
    margin: 0px 20px;
}

.col1 {
    float: left;
    padding: 100px 90px;
    margin: 0px 10px;
}

.col1 i {
    font-size: 75px;
    color: rgb(250, 127, 82);

}

.col1 p {
    margin: 20px 0px;
    font-size: 65px;
    font-weight: 900;
    text-align: center;
}

.sp {
    font-size: 20px;
    font-weight: 600;
    color: #5C727D;
}

.col11 {
    text-align: center;
}


/* ---------------------------------------------------- container5 -------------------------------------------*/

.main5 {
    background-color: #edeff0;
    padding: 100px 0px;
}

.tsp {
    display: grid;
    grid-template-columns: 50% 50%;
}

.tsp h1 {
    margin: 10px 0px;
    font-size: 60px;
}

.tsp p {
    padding-right: 80px;
}

.grid51 {
    padding: 0px 15px;
}

.grid512 {
    margin: 30px 0px;
}

.grid512 ul {
    list-style: none;
}

.grid512 ul li:before {
    content: "-";
    font-weight: 800;
    font-size: 20px;
    padding-right: 20px;
    color: rgb(248, 131, 89);
}

.grid512 ul li {
    font-size: 20px;
    margin: 10px 0px;
}

.grid513 {
    margin: 5px 0px;
}

.grid513 {
    display: table;
}

.grid513:after {
    display: table;
}

.col51 i {
    font-size: 20px;
    margin: 0px 5px;
}

.col51 {
    float: left;
    border-right: 3px solid black;
}

.col51 p {
    padding: 0px 20px 0px 0px;
    margin-top: 5px;
}

.col52 i {
    font-size: 20px;
    margin: 0px 5px;
}

.col52 {
    float: left;
    border-right: 3px solid black;
    padding-left: 20px;
}

.col52 p {
    margin-top: 5px;
    padding: 0px 20px 0px 0px;
}

.col53 i {
    font-size: 20px;
    margin: 0px 5px;

}

.col53 {
    float: left;
    padding-left: 20px;
    border-right: 3px solid black;
}

.col53 p {
    margin-top: 5px;
    padding: 0px 20px 0px 0px;
}

.col54 i {
    font-size: 20px;
    margin: 0px 5px;
}

.col54 {
    float: left;
    padding-left: 20px;
}

.col54 p {
    margin-top: 5px;
    padding: 0px 20px 0px 0px;
}


.grid514 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 30px 0px;
}

.grid5141 {
    margin: 0px 10px 0px 0px;
}

.grid5141,
.grid5142,
.grid5143 img:hover {
    cursor: pointer;
}

.grid5142 {
    margin: 0px 5px 0px 5px;
}

.grid5143 {
    margin: 0px 0px 0px 10px;
}

.grid52 {
    padding: 0px 0px 0px 30px;
    margin: 70px 15px 0px 15px;
}


/*--------------------------------------------------- container6 -----------------------------------------------*/

.main6 {
    background-color: #d4d7d9;
    padding: 120px 0px;
}

.focus {
    text-align: center;
    margin-bottom: 50px;
}

.ourservice {
    background-color: rgb(249, 218, 207);
    color: rgb(255, 68, 0);
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
}

.omf {
    font-size: 40px;
    margin: 20px 0px;
}

.grid6 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid6 p {
    font-size: 15px;
}

.grid6 a {
    text-decoration: none;
    color: rgb(96, 119, 96);
}

.grid6 a:hover {
    color: orangered;
}

.grid61 {
    text-align: center;
    /* border: 4px solid black; */
    background-color: whitesmoke;
    margin: 0px 15px;
    padding: 85px 15px 70px 15px;

}

.grid61:hover {
    border-bottom: 6px solid orangered;
}

.grid62 {
    text-align: center;
    /* border: 4px solid black; */
    background-color: whitesmoke;
    margin: 0px 10px;
    padding: 85px 15px 70px 15px;

}

.grid62:hover {
    border-bottom: 6px solid orangered;
}

.grid63 {
    text-align: center;
    /* border: 4px solid black; */
    background-color: whitesmoke;
    margin: 0px 15px;
    padding: 85px 15px 70px 15px;

}

.grid63:hover {
    border-bottom: 6px solid orangered;
}

.grid6 h1:hover {
    cursor: pointer;
    transition: 0.4s;
    color: orangered;
}


/*------------------------------------------------ container7 -------------------------------------------------*/

.main7 {
    background-color: #edeff0;
    padding: 100px 0px;
}

.fli {
    padding: 0px 400px;
}

.fli1 {
    margin: 0px 20px;
    background-color: white;
    box-shadow: 0 16px 32px 0 rgb(7, 8, 31, 0.1);


}

.fli12 {
    border-bottom: 2px solid black;
    padding: 20px;
}

.fli121 {
    margin: 10px 0px 20px 0px;
}

.fli13 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.fli131,
.fli132 {
    display: flex;
}

.fli1311 {}

.fli1311 img {
    height: 40px;
    border-radius: 50%;
}

.fli img:hover {
    /* cursor: pointer; */

}

.fli11 {
    overflow: hidden;
}

.fli11 img:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.5s;
}

.fli1312 {
    margin-left: 5px;
}

.fli1312 h5 {
    font-size: 15px;
}

.fli1312 h5:hover {
    transition: 0.4s;
    cursor: pointer;
    color: orangered;
}

.fli1312 p {
    font-size: 12px;
}

.fli h1 {
    font-size: 25px;
}

.fli h1:hover {
    transition: 0.4s;
    cursor: pointer;
    color: orangered;
}

.fli132 {
    justify-content: center;
    align-items: center;
}

.button13 {
    margin: 0px 5px;
}

.button13 i {
    padding: 15px;
    background-color: white;
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
    border: none;
    font-size: 10px;
}

.button13 i:hover {
    cursor: pointer;
    background-color: orangered;
    color: white;
    transition: 0.4s;
}

.button131 {
    border: none;
}

/*-------------------------------------------------------- container8 ----------------------------------------*/

.main8 {
    background-color: #edeff0;
    padding: 0px 0px 100px 0px;
}

.ap {
    text-align: center;
    margin-bottom: 20px;
}

.ap ul {
    list-style-type: none;

}

.ap ul li {
    display: INLINE-BLOCK;
    padding: 0 20px;
    font-size: 25px;
}

.ap ul li a:hover {
    transition: 0.4s;
    color: orangered;
    border-bottom: 1px solid orangered;
}

.ap ul li a {
    color: black;
    text-decoration: none;
}

.dp {
    display: grid;
    grid-template-columns: 50% 50%;
}

.dp1 {
    background-color: rgb(248, 94, 38);
    color: whitesmoke;
    padding: 70px;
    margin: 0px 10px;
}

.dp11 h2 {
    margin-bottom: 50px;
    font-size: 35px;
}

.dp11 p {
    margin-bottom: 50px;
    font-size: 20px;
}

.dp12 ul {
    list-style-type: none;
}

.dp12 ul li {
    list-style: none;

    display: block;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin: 10px 0px;
}

.dp12 ul li::before {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px dashed white;
    box-sizing: border-box;
    z-index: 1;
    top: 50%;
}

.dp12 label {
    display: inline-block;
    position: relative;
    background-color: rgb(248, 94, 38);
    z-index: 2;
    padding-right: 10px;
}

.dp12 span {
    display: inline-block;
    position: relative;
    background-color: rgb(248, 94, 38);
    float: right;
    z-index: 2;
    padding-left: 10px;
}

.dp2 {
    padding: 0px 15px;
}



/*---------------------------------------------------- container9 ----------------------------------------------*/

.main9 {
    background-image: url("background.jpg");
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.pb {
    display: flex;
    min-height: 350px;
    align-items: center;
    justify-content: center;
}

.play1 {
    padding: 30px;
    margin: 5px 20px;
    border-radius: 100%;
    background-color: whitesmoke;
    color: orangered;
}


/*--------------------------------------------------- container10 ---------------------------------------------*/

.main10 {
    background-color: #edeff0;
    padding: 100px 0px;
}

.container10 {}

.ba {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
}

.ba1 {
    display: block;
    position: relative;
    padding: 65px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0 16px 32px 0 rgb(7, 8, 31, 0.1);
    margin: 0px 20px 25px 20px;
}

.ba1:hover {
    background-color: orangered;
    transition: 0.4s;
    cursor: pointer;
}

.ba1 i {
    font-size: 50px;
    padding: 30px;
    border-radius: 100%;
    background-color: rgb(249, 218, 207);
    color: rgb(255, 68, 0);
}

.ba1 span {
    position: absolute;
    display: block;
    right: 40%;
    bottom: -20px;
}


.ba1 span i {
    font-size: 15px;
    padding: 25px;
    border-radius: 100%;
    background-color: rgb(226, 222, 222);
    color: rgb(3, 3, 105);
    box-shadow: 0 16px 32px 0 rgb(7, 8, 31, 0.1);
}

.ba1 span i:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
    color: orangered;
}

.ba1 h2 {
    margin-top: 20px;

}


/*----------------------------------------------- .container11 ----------------------------------------------*/

.main11 {
    background-color: #edeff0;
    /* height: 600px; */
    /* padding: 100px 0px; */
    /* height: 500px; */

}

.cont1 {
    height: 350px;
    width: 100%;

    background-repeat: no-repeat;
    background-image: url("20.jpg");
    background-size: cover;
}

.container11 {
    width: 100%;
    max-width: 1540px;
    margin: auto;
    /* padding: 100px 0px; */
}


.focus1 {
    text-align: center;
    padding: 50px 0px 0px 0px;
}

/* .cf {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
} */

.cf1 {
    background-color: white;
    padding: 15px 40px;
    margin: 0px 20px;
    border-radius: 5%;
    box-shadow: 0 16px 32px 0 rgb(7 8 31 / 10%);
    font-size: 20px;
}

.cf11 {
    margin: 20px 0px 50px 0px;
}

.cfli131 {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.cfli131 p {
    font-size: 15px;
}

.cf1311 img {
    margin-top: 5px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.cf1:hover {
    cursor: pointer;
    border-bottom: 4px solid orangered;
}


.cf1:hover>.cf11 i {
    color: orangered;
}


/*----------------------------------------------------- container12 ---------------------------------------------*/


/* .main12 {
    background-color: #edeff0;
    padding: 100px 0px;
} */

/*----------------------------------------------------- .container13 -------------------------------------------*/

/* .swiper-cube {
    overflow: hidden;
} */
.swiper.mySwiper2.swiper-cube.swiper-3d.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-watch-progress {
    overflow: hidden;
}

.mySwiper .swiper-button-prev {
    left: 40px;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.mySwiper .swiper-button-next {
    right: 40px;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.mySwiper:hover .swiper-button-prev {
    left: 20px;
    opacity: 1;
}

.mySwiper:hover .swiper-button-next {
    right: 20px;
    opacity: 1;
}

.main13 {
    background-color: #edeff0;
    padding: 250px 0px;
}

.lnf {
    display: flex;
    padding: 0px 400px;
}

.lnf1 {
    /* margin: 0px 20px; */
    background-color: white;
    box-shadow: 0 16px 32px 0 rgb(7 8 31 / 10%);

}

.lnf11 {
    overflow: hidden;
}

.lnf1 img:hover {
    cursor: pointer;

    transition: all 0.5s ease 0s;
    transform: scale(1.2);
}

.lnf2 {
    /* margin: 0px 20px; */
    background-color: white;
    box-shadow: 0 16px 32px 0 rgb(7 8 31 / 10%);
}

.lnf2 img:hover {
    cursor: pointer;

    transition: all 0.5s ease 0s;
    transform: scale(1.2);
}

.lnf12 {
    padding: 10px 30px;
    overflow: hidden;
}

.lnf120 {
    margin-bottom: 10px;
}

.lnf120 ul {
    display: flex;
    list-style-type: none;
}

.lnf120 ul li {
    margin: 0px 20px 0 0;
    font-size: 18px;
}

.lnf120 ul li:hover {
    color: orangered;
    transition: 0.4s;
    cursor: pointer;
}

.lnf120 ul li i {
    color: orangered;
}

.lnf12 h1:hover {
    cursor: pointer;
    transition: 0.4s;
    color: orangered;
}

.lnf13 {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px 10px;
    font-size: 17px;
    border-top: 1px solid rgb(198, 196, 196);
}

.lnf131 i {
    color: orangered;
}

.lnf132 a {
    color: orangered;
    text-decoration: none;
}


/*------------------------------------------------- .container14 --------------------------------------------*/

.main14 {
    background-color: #0B2C3D;
    color: white;
    padding-top: 80px;
}

.container14 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 100px;
}

.container14 h1 {
    font-size: 30px;
    margin-bottom: 32px;
}

.foot {
    font-size: 17px;
}

.qua2 {
    margin-top: 20px;
}

.qua3 {
    margin: 20px 0;
}

.qua3 ul {
    list-style-type: none;
}

.qua3 ul li {
    margin-top: 10px;
}

.qua3 ul li:hover {
    cursor: pointer;
    transition: 0.4s;
    color: orangered;
}

.qua3 ul li i {
    margin-right: 10px;
}

.sm1 {
    display: flex;

}

.sm1 ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

.sm1 ul li {
    margin: 0px 20px 0px 0px;
}

.sm1 ul li a i {
    font-size: 20px;
    color: white;
}

.foot1 {
    margin: 0px 20px;

}

.foot1 h1 {
    margin-bottom: 32px;
}

.foot1 ul {
    list-style-type: none;
}

.foot1 ul li {
    margin-bottom: 20px;
}

.foot1 ul li:hover {
    color: orangered;
    cursor: pointer;
    transition: 0.4s;
}

.email {
    padding: 20px;
}

.eb {
    padding: 20px 25px;
    background-color: orangered;
    border: none;
}

.eb:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: #1682b8;
}

.eb i {
    color: white;
    font-size: 10px;
}


.nl1,
.nl2 {
    margin-bottom: 20px;
}

.nl3 {
    margin-bottom: 20px;
}

.nl3 form {
    display: flex;
}

.nl4 {
    margin-bottom: 20px;
}

.email {
    padding: 19px;
    width: 100%;
}


/*------------------------------------------------ container15 ---------------------------------------------*/

.main15 {
    background-color: #3c697e;
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
    color: white;
}

.tc ul {
    display: flex;
    list-style-type: none;
}

.tc ul li {
    margin-right: 20px;
}

.tc ul li:hover {
    transition: 0.4s;
    cursor: pointer;
    color: orangered;
}




/*--------------------------------------------- .container16 ------------------------------------------------*/

.main16 {
    margin-top: -120px;
    margin-bottom: -80px;
    position: relative;

}

.container16 {
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.ldh {
    color: white;
}

.epb {
    background-color: white;
    border: none;
    padding: 20px 50px;
    font-size: 17px;
}

.epb:hover {
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
    box-shadow: inset 275px 0 0 0 white;
    color: black;
    transition: 0.5s;
}





.scrollUp {
    position: fixed;
    z-index: 5;
    background-color: white;
    bottom: 10%;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.scrollUp i {
    font-size: 27px;
    transform: rotate(-45deg);
}

.scrollUp:hover {
    transition: all 0.5s ease 0s;
    background-color: orangered;
    color: white;
}

.swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------------------------------------------------- template end -------------------------------------------*/



@media screen and (max-width:377px) {
    .body {
        width: 100%;
    }


    /* main1  */

    .main {
        font-size: 10px;
        width: 100%;
    }

    .logo ul {
        justify-content: space-between;

    }

    .logo ul li {
        margin: 0px;
    }

    .logo ul li b {
        margin: 0px;
    }

    .logo ul li a {
        font-size: 15px;
    }

    .header {
        flex-direction: column;
        padding: 5px;
    }

    .sm {
        margin-top: 10px;
        justify-content: center;
    }

    .sm ul li a i {
        font-size: 12px;
    }

    /* main1  */

    .container1 {
        flex-direction: column;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;

    }

    .menu ul li {
        font-size: 15px;
    }

    .button1 i {
        padding: 20px;
    }

    .intro {
        display: flex;
        flex-direction: column;
    }
        .intro1 {
            display: flex;
            flex-direction: column-reverse;
        }

    .grid1 {
        padding: 0px 10px;
    }
    .grid21{
        margin: 0px;
    }

        .tg1 {
            margin: 0px;
        }
    .rea b,
    .rea i,
    .tg,
    .tg1 {
        font-size: 15px;
    }

    .tagline span {
        font-size: 30px;
    }

    .enquiry {
        padding: 10px 20px;
        font-size: 14px;
    }

    .play {
        padding: 15px 25px;
        margin: 5px 20px;
    }

    .enq a i {
        font-size: 15px;
    }

    .grid2 {
        margin: 0px;
    }

    /* main3  */

    .about {
        display: flex;
        flex-direction: column;
    }

    .grid12 {
        font-size: 15px;
        padding: 10px;
    }

    .hd1 {
        font-size: 20px;
    }

    .grid121 {
        display: flex;
        flex-direction: column;
    }

    .g1,
    .g1 i {
        font-size: 15px;
    }

    .grid122 {
        font-size: 15px;
    }

    /* main4  */
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col1 {
        padding: 0%;
        margin: 0px 0px 30px 0px;
    }

    .col1 i {
        font-size: 55px;
    }

    .col1 span {
        font-size: 15px;
        font-weight: 600;
        color: #5C727D;

    }

    .col1 p {
        margin: 0px;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 900;
    }

    /* main5  */

    .tsp {
        display: flex;
        flex-direction: column;
    }

    .about1 {
        background-color: rgb(249, 218, 207);
        color: rgb(255, 68, 0);
        padding: 4px 15px;
        font-size: 13px;
        border: none;
        border-radius: 40px;
    }

    .tsp h1 {
        font-size: 25px;
    }

    .tsp p {
        padding: 0px;
        font-size: 13px;
    }

    .grid512 ul li {
        font-size: 13px;
        margin: 5px 0px;
    }

    .col51 i {
        font-size: 15px;
        margin: 0px 0px;
    }

    .col51 {
        float: left;
        border-right: 1px solid black;
        padding-right: 7px;
    }

    .col52 {
        float: left;
        border-right: 1px solid black;
        padding: 0px 7px;
    }

    .col53 {
        float: left;
        padding: 0px 7px;
        border-right: 1px solid black;
    }

    .col54 {
        float: left;
        padding: 0px 7px;
    }

    .grid52 {
        padding: 0px;
        margin: 35px 15px 0px 15px;
    }

    /* main6  */

    .ourservice {
        background-color: rgb(249, 218, 207);
        color: rgb(255, 68, 0);
        padding: 5px 20px;
        font-size: 13px;
        border: none;
        border-radius: 40px;
    }

    .omf {
        font-size: 25px;
        margin: 10px 0px;
    }

    .grid6 {
        display: flex;
        flex-direction: column;
    }

    .grid61 {
        text-align: center;
        background-color: whitesmoke;
        margin: 0px 15px;
        padding: 30px 15px 35px 15px;
    }

    .grid61 h1,
    .grid62 h1,
    .grid63 h1 {
        font-size: 20px;
    }

    .grid6 p {
        font-size: 13px;
    }

    .grid62 {
        text-align: center;
        background-color: whitesmoke;
        margin: 20px 10px;
        padding: 30px 15px 35px 15px;
    }


    /* main7  */

    .fli {
        padding: 0%;
    }

    .fli1 {
        margin: 10px 20px;
        background-color: white;
        box-shadow: 0 16px 32px 0 rgb(7 8 31 / 10%);
    }

    .fli h1 {
        font-size: 20px;
    }

    .fli121 p {
        font-size: 13px;
    }

    .grid513 {
        margin: 0px;
        display: flex;
        justify-content: space-between;
    }

    .grid513 p {
        padding: 0px;
        margin-top: 5px;
        font-size: 13px;
    }

    .grid513 i {
        font-size: 15px;
    }

    .fli13 {
        flex-direction: column-reverse;
    }

    .fli131 {
        margin-left: 5px;
    }

    .fli132 {
        justify-content: unset;
        align-items: center;
        margin-bottom: 10px;
    }

    /* main8  */

    .focus {
        text-align: center;
        margin-bottom: 40px;
    }

    .ap ul li {
        display: INLINE-BLOCK;
        padding: 0 20px;
        font-size: 14px;
    }

    .ap {
        margin-bottom: 40px;
    }

    .dp {
        display: flex;
        flex-direction: column;
    }

    .dp1 {
        background-color: rgb(248, 94, 38);
        color: whitesmoke;
        padding: 25px;
        margin: 0px 10px;
    }

    .dp11 h2 {
        margin-bottom: 50px;
        font-size: 25px;
    }

    .dp11 p {
        margin-bottom: 50px;
        font-size: 13px;
    }

    .dp12 ul li {
        margin: 10px 0px;
        font-size: 10px;
    }

    .dp2 {
        padding: 0px;
        margin: 20px 10px;
    }


    /* main10  */

    .ba {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .ba1 {
        padding: 40px 30px;
        margin: 0px 12px 25px;
    }

    .ba1 i {
        font-size: 20px;
        padding: 20px;

    }

    .ba1 span i {
        font-size: 10px;
        padding: 14px;
    }

    .ba1 h2 {
        margin-top: 20px;
        font-size: 13px;
    }

    .dp12 ul li::before {
        position: absolute;
        content: "";
        width: 90%;
        transform: scaleY(-0.7);
        height: -12px;
        border: 1px dashed white;
        box-sizing: border-box;
        z-index: 2;
        top: 50%;
    }

    /* main11  */

    /* .cf {
        display: flex;
        flex-direction: column;
    } */

    .cf1 {
        padding: 30px 35px 40px;
        margin: 10px 10px;
        font-size: 13px;
    }

    .cf11 {
        margin: 20px 0px;
    }

    /* main13  */
    .main13 {
        padding: 0px 0px 200px 0px;
    }

    .container13 {
        padding-top: 130px;
    }

    .swiper.mySwiper2.swiper-cube.swiper-3d.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-watch-progress {
        overflow: unset;
        max-width: 375px;
    }

                

    .swiper.mySwiper2.swiper-cube.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
        max-width: 375px;
    }

    .lnf {
        flex-direction: column;
        padding: 0px;
    }

    .lnf1 {
        max-width: 375px;
    }

    .lnf1,
    .lnf2 {
        margin: 10px;
    }

    .lnf120 ul li {
        margin: 0px 20px 0 0;
        font-size: 13px;
    }

    .lnf12 h1 {
        font-size: 20px;
    }

    .lnf131 {
        font-size: 13px;
    }

    .lnf132 a {
        font-size: 13px;
    }

    /* main16  */

    .container16 {
        flex-direction: column;
        padding: 25px;
        margin: 10px;
    }

    .ldh {
        margin-bottom: 10px;
    }

    .ldh h1 {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .ldh p {
        font-size: 13px;
    }

    .epb {
        background-color: white;
        border: none;
        padding: 13px 30px;
        font-size: 13px;
    }

    .epp {
        text-align: center;
    }

    .main16 {
        margin-top: -165px;
        margin-bottom: -80px;
        position: relative;
    }

    /* main14  */
    .container14 {
        display: flex;
        flex-direction: column;
        padding: 75px 20px;
    }

    .foot1 {
        margin: 20px 0px;
    }

    /* main15  */

    .main15 {
        flex-direction: column;
        padding: 25px 35px;
    }

    .ar {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .tc {
        text-align: center;
    }

    .tc ul {
        display: unset;
    }

    .tc ul li {
        margin-right: 35px;
        font-size: 14px;
        display: inline-block;
    }

    .swiper-slide {
        width: 100% !important;

    }

    .slick-initialized .slick-slide {
        display: block;
    }
    .scrollUp {
    bottom: 8%;
    height: 30px;
    width: 30px;
        right: 8%;
    }
}



.enquiry {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: #FF5A3C;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    font-size: 20px;
}

.enquiry::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    transition: all .3s ease;
    /* transform: scale(0.5); */
    z-index: -1;
    transform: scale(0);
}

.enquiry:hover::before {
    transform: scale(1);
    color: black;
}

.enquiry:hover{
    transition: all 0.3s ease-in-out;
 color: black;
 cursor: pointer;
}
.hidden{
    display: none;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}
